* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open sans', sans-serif;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #eee;
  overflow: hidden;
  padding: 4em;
  transition: padding 0.4s ease-in;
}

.wrapper {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  height: 80%;
  width: 80%;
  max-width: 960px;
  min-height: 300px;
  background-color: #fff;
  box-shadow: 0 2em 2.5em 0 rgba(0, 0, 0, 0.3);
  padding: 4em;
  overflow: hidden;
  transition: all 0.4s ease-in;
}

.wrapper.error > .editor {
  font-size: 2em;
  text-align: center;
}

.title {
  font-family: 'Nixie One', cursive;
  text-transform: uppercase;
  font-size: 2em;
  float: left;
}

.controls {
  position: relative;
  padding-bottom: 2em;
  overflow: auto;
}

.pagination {
  position: relative;
  float: right;
}

.pagination-text {
  margin-right: 1em;
}

.pagination-input {
  width: 4em;
  padding: 1em;
  border: 1px solid #ddd;
  border-radius: 0.5em;
  text-align: center;
}

.editor {
  padding-bottom: 4em;
  overflow: auto;
}

.content::selection {
  background: #fff000;
}

.content::-moz-selection {
  background: #fff000;
}

.highlight {
  background: #fff000;
}

input[type=number] {
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1em;
  }

  .wrapper {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: none;
    padding: 2em;
    box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.3);
  }
}
